<div class="header">
  <div class="logo-wrapper">
    <div class="logo-text">
      <h2>Wydatex</h2>
    </div>
    <div class="small-icon-wrapper">
      <img src="assets/icons/small-wallet.svg" />
    </div>
  </div>
  <div class="controls-wrapper">
    <div class="o-list">
      <a>home</a>
      <a>about</a>
      <a (click)="signin()">login</a>
    </div>
  </div>
  <div class="hamburger">
    <div class="index">
      <div id="menuToggle">
        <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
        <input type="checkbox" (click)="openOrClose()"/>

        <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
        <span></span>
        <span></span>
        <span></span>

        <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.

    -->
      </div>
    </div>
    <p-sidebar [visible]="isOpen" position="right" [fullScreen]="true" [showCloseIcon]="false" [baseZIndex]="10">
      Content
    </p-sidebar>
  </div>
</div>
