@import '../home-app.component.scss';

a {
  font-size: 20px;
}

.small-icon-wrapper {
  width: fit-content;
  height: fit-content;
  img {
    width: 85px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: 15px;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.o-list > :not(:last-child) {
  padding-right: 40px;
}

.logo-text {
  margin: auto 20px 12% 0px;
}

.controls-wrapper {
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: $max-width) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: $max-width) {
  .controls-wrapper {
    display: none;
  }
}

.hamburger {
  margin-top: auto;
  margin-bottom: auto;
}

#menuToggle
{
  display: block;
  position: relative;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 34px;
  height: 29px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

.index {
  z-index: 1020;
}
