@import '~variables.scss';

.dropdown-menu-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    a {
      color: $light-grey !important;
    }
  }
  :last-child {
    margin-left: 0.5rem;
  }
}
