<div class="f-vertical table">
  <div class="h-100">
    <table class="w-100">
      <thead class="table-head">
        <tr class="table-header">
          <th>Expense</th>
          <th>Date of expense</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenseList$ | async as expenseList">
          <td>{{ expense.name }}</td>
          <td>{{ expense.date | date }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.categoryId }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
