// Roboto
@font-face {
  font-family: 'Roboto-Regular';
  src: url(assets/fonts/roboto/Roboto-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(assets/fonts/roboto/Roboto-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(assets/fonts/roboto/Roboto-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(assets/fonts/roboto/Roboto-Light.ttf) format('opentype');
}

// Montserrat
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(assets/fonts/montserrat/Montserrat-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(assets/fonts/montserrat/Montserrat-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(assets/fonts/montserrat/Montserrat-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url(assets/fonts/montserrat/Montserrat-Light.ttf) format('opentype');
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url(assets/fonts/montserrat/Montserrat-Thin.ttf) format('opentype');
}
