<div
  fxFill
  style="background-color: black; padding-bottom: 10px;"
  *ngIf="selectedBudget$ | async as selectedBudget"
  gdAreas.gt-md="income balance expense | chart chart list"
  gdAreas.md="income balance expense | chart chart chart | list list list"
  gdAreas.lt-md="income | balance | expense | chart | list"
  gdColumns.gt-sm="1fr 1fr 1fr"
  gdRows.gt-md="auto 1fr"
  gdGap="10px"
>
  <p-card gdArea="income" header="Disposable Income:" class="info-card" styleClass="info-card-green">
    200 $
  </p-card>
  <p-card gdArea="balance" header="Balance:" class="info-card" styleClass="info-card-blue">
    100 $
  </p-card>
  <p-card gdArea="expense" header="Expenses:" class="info-card" styleClass="info-card-red">
    500 $
  </p-card>

  <p-card
    gdArea="chart"
    class="chart"
    styleClass="chart-card"
    header="Wydatków w ciągu dnia/miesiąca"
    [ngStyle.xs]="{height: '60vw'}"
    [ngStyle.lt-lg]="{height: '40vw'}"
  >
    <div style="background-color: red; width: 100%; height: 100%;">test</div>
  </p-card>
  <p-card
    gdArea="list"
    class="list"
    header="Categories"
    [ngStyle.xs]="{'max-height': 'calc(100vh - 60vw - 70px)'}"
    [ngStyle.lt-lg]="{'max-height': 'calc(100vh - 40vw - 106px)'}"
  >
    <div *ngFor="let item of [1, 2, 3, 4, 5, 6,7,8,9]" style="background-color: red; height: 100px;">test</div>
  </p-card>
</div>
