<div class="wrapper" *appVar="currency$ | async as currency">
  <div fxLayout="column" *ngFor="let category of categories$ | async" class="category">
    <div fxLayout="row" class="category-controls">
      <div>{{ category.name }}</div>
      <a class="pi pi-pencil edit-btn" (click)="editCategory(category)"></a>
      <a class="pi pi-trash" (click)="removeCategory(category)"></a>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center" class="expenses">
      <span>{{ category.moneyBudgeted }} {{ currency }}</span>
      <p-progressBar
        fxFlex="grow"
        [showValue]="false"
        [value]="(category.spent / category.moneyBudgeted) * 100"
        [ngClass]="{'budget-progress': true, 'budget-exceeded': category.spent > category.moneyBudgeted}"
      ></p-progressBar>
      <span>{{ category.moneyBudgeted - category.spent }} {{ currency }}</span>
    </div>
  </div>
</div>
