<div fxLayout="row" class="wrapper">
  <div [@sidenavHideXs]="mediaObserver.isActive('xs')" class="sidenav">
    <app-sidenav></app-sidenav>
  </div>

  <div [@sidenavMargin]="mediaObserver.isActive('xs')" fxFlex="grow" fxLayout="column">
    <app-header [@headerHeight]="mediaObserver.isActive('xs')" (sidenavToggle)="sidebarVisible = $event"> </app-header>

    <main fxFlex="grow" role="main" class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<p-sidebar [style]="{width: '250px', padding: 0}" [(visible)]="sidebarVisible" [showCloseIcon]="false">
  <app-sidenav></app-sidenav>
</p-sidebar>
