<div
  gdAreas="header header | sidenav content | footer footer"
  gdColumns.gt-xs="200px auto"
  gdColumns.xs="0 auto"
  gdRows="70px auto 50px"
  class="wrapper"
>
  <app-header gdArea="header" class="toolbar" (sidenavToggle)="sidebarVisible = !sidebarVisible"> </app-header>

  <div gdArea="sidenav">
    <div fxHide.xs fxFill class="sidenav">
      <app-sidenav></app-sidenav>
    </div>

    <p-sidebar fxHide.gt-xs [style]="{top: '70px'}" [(visible)]="sidebarVisible" [showCloseIcon]="false">
      <app-sidenav></app-sidenav>
    </p-sidebar>
  </div>

  <main gdArea="content" gdGridAlign="stretch stretch" role="main" class="content">
    <router-outlet></router-outlet>
  </main>

  <div gdArea="footer" class="footer">
    <div class="row">
      cabananan
    </div>
  </div>
</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
