<div class="sidebar-list" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>Example menu</mat-panel-title>
			</mat-expansion-panel-header>

			<mat-action-list>
				<button mat-list-item *ngFor="let link of exampleMenuLinks" [routerLink]="link.route" routerLinkActive="active"
					(click)="onSidenavClose()">
					{{link.name}}</button>
			</mat-action-list>
		</mat-expansion-panel>

		<mat-divider fxFlexFill></mat-divider>

		<mat-nav-list>
			<a mat-list-item routerLink="/" routerLinkActive="active" (click)="onSidenavClose()">
				Button</a>
		</mat-nav-list>

		<mat-divider fxFlexFill></mat-divider>

		<mat-expansion-panel *ngIf="userName$ | async as userName else signIn">
			<mat-expansion-panel-header>
				<mat-panel-title>{{userName}}</mat-panel-title>
			</mat-expansion-panel-header>

			<mat-action-list>
				<button mat-list-item *ngFor="let link of accountLinks" [routerLink]="link.route" routerLinkActive="active"
					(click)="onSidenavClose()">
					{{link.name}}</button>
				<button mat-list-item (click)="signout()">Sign out</button>
			</mat-action-list>
		</mat-expansion-panel>

		<ng-template #signIn>
			<mat-action-list>
				<button mat-list-item (click)="register()">Register</button>
				<button mat-list-item (click)="signin()">Login</button>
			</mat-action-list>
		</ng-template>
	</mat-accordion>
</div>