<div fxLayout="column" fxFill class="sidebar">
  <div class="logo-wrapper">
    <div class="logo-text">
      <h2>Wydatex</h2>
    </div>
    <div class="small-icon-wrapper">
      <img src="assets/icons/small-wallet.svg" />
    </div>
  </div>
  <div class="panel-background">
    <p-panelMenu [model]="sideMenuItems" [multiple]="false"></p-panelMenu>
  </div>

  <p-panelMenu
    fxHide.gt-xs
    *ngIf="userName$ | async as userName"
    [model]="[{label: userName, items: accountMenuItems}]"
    [style]="{'margin-top': '10px'}"
  ></p-panelMenu>
</div>
