<div class="f-horizontal space-evenly text-align_center table">
  <div class="f-vertical w-100">
    <div class="header-top__left w-100"><span>Total Income</span></div>
    <div class="value w-100"><span>4 000 zł</span></div>
    <div class="value w-100"><span>730 zł</span></div>
    <div class="header-bottom__left w-100"><span>Balance</span></div>
  </div>
  <div class="f-vertical w-100">
    <div class="header-top__right w-100"><span>Total Expenses</span></div>
    <div class="value w-100"><span>3 270 zł</span></div>
    <div class="value w-100"><span>18.25%</span></div>
    <div class="header-bottom__right w-100"><span>% Remaining Budget</span></div>
  </div>
</div>
