<div class="features-wrapper">
  <img id="top" src="assets/svg/green-background/top.svg" />
  <div class="features-container">
    <div class="sentence-wrapper f-vertical">
      <img src="assets/svg/home/calendar.svg" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </div>
    <div class="sentence-wrapper f-vertical">
      <img src="assets/svg/home/barchart.svg" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </div>
    <div class="sentence-wrapper f-vertical">
      <img src="assets/svg/home/pigmoney.svg" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </div>
  </div>
  <img id="bottom" src="assets/svg/green-background/bottom.svg" />
</div>
