@import '~variables.scss';

@media screen and (max-width: 768px) {
  [class*='features-container'] {
    flex-direction: column !important;
    top: 0% !important;
    > :not(:last-child) {
      padding-right: 0px !important;
    }
  }
}

.features-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  align-items: baseline;
  background-color: $green;
  margin-top: -10px;
  margin-bottom: -10px;
}

.sentence-wrapper {
  img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 80px;
  }
  > * {
    margin-left: auto;
    margin-right: auto;
  }

  > p {
    width: 50%;
    text-align: center;
    font-family: 'Montserrat-Regular';
    color: $dark-grey;
    min-width: 150px;
  }
}
