
<div fxFill fxLayout="row" fxLayout.xs="column">
  <div class="table-wrapper" >
    <p-table [value]="incomeList$ | async" class="categories-table" [scrollable]="true" scrollHeight="60vh"
             fxShow.xs="false">
      <ng-template pTemplate="header">
        <tr>
          <th>Income</th>
          <th>Date of income</th>
          <th>Amount</th>
          <th [ngStyle]="{width: '20%'}">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-income >
        <tr (click)="showDetails(income)">
          <td>{{ income.name }}</td>
          <td>{{ income.date | date }}</td>
          <td>{{ income.amount | currency: income.currencySymbol }}</td>
          <td [ngStyle]="{width: '20%'}">
            <a class="pi pi-pencil" (click)="editExpense(income)"></a>
            <a class="pi pi-trash" (click)="removeExpense(income)"></a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [draggable]="false" [(visible)]="displayDetails" modal="true" *ngIf="selectedIncome!==undefined">
  <app-incomes-details [income]="selectedIncome"></app-incomes-details>
</p-dialog>

