$light-primary: mat-palette($mat-indigo, 800, 300, 900);
$light-accent: mat-palette($mat-light-blue);
$light-warn: mat-palette($mat-pink, 600);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
