@import '../dashboard/dashboard.component.scss';

.chart-wrapper {
  position: relative;
  background-color: $white;
  margin-top: -27px;
}

.position-relative {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* This is a shorthand of
                                       translateX(-50%) and translateY(-50%) */
}
