@import '~variables.scss';

.label {
  > span {
    color: $black;
    font-family: 'Roboto-Regular';
    font-size: 2.5vh;
  }
}

.amount {
  > span {
    color: $black;
    font-family: 'Roboto-Regular';
    font-size: 2.5vh;
  }
}

.content-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
