@import '~variables.scss';


:host .categories-table {
  ::ng-deep .ui-table {

    .ui-table-scrollable-header {
      width: 100%;
    }

    .ui-table-scrollable-body {
      overflow: auto;
      scrollbar-color: $main-green $dark-grey;
      scrollbar-width: thin;
    }

    .ui-table-thead > tr > th {
      font-family: Montserrat, serif;
      color: $white;
      background-color: $main-green;
      border-left: none;
      border-right: none;
    }

    .ui-table-tbody > tr > td {
      font-family: Roboto-Medium, serif;
      text-align: center;
      border-left: none;
      border-right: none;
    }
  }

}

.table-wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.mobile-row-container {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 10px;
}

.name-col {
  font-family: Roboto-Medium, serif;
  font-size: 20px;
  text-align: left;
  vertical-align: top;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.difference-col {
  font-family: Roboto, serif;
  font-size: 15px;
  text-align: right;

  width: 20%;
}

.buttons-col {
  width: 30%;
}

.controls {
  font-family: 'Roboto-Medium';
  font-size: 25px;
  margin-bottom: 5px;
}

.title-header {
  font-family: Montserrat, serif;
}
