<div class="container" fxLayout="column">
  <p-toolbar fxFill>
    <div class="ui-toolbar-group-left" appFade="gt-xs" showDelay="0.3s" hideDuration="0.1s">
      <div class="menuToggle">
        <input type="checkbox" (click)="onToggleSidenav()" binary="true" />
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="ui-toolbar-group-right account-menu-button" appFade="xs" showDelay="0.3s">
      <app-dropdown-menu [menuItems]="accountMenuItems" [label]="userName$ | async"></app-dropdown-menu>
    </div>
    <div class="ui-toolbar-group-right account-menu-button" appFade="gt-xs" showDelay="0.3s" hideDuration="0.1s">
      <h2>Wydatex</h2>
    </div>
  </p-toolbar>
  <span class="sep" appFade="xs" hideDelay="0.2s" hideDuration="0.1s"></span>
</div>
