<div class="container" fxLayout="column">
  <p-toolbar fxFill>
    <div [@headerFade]="mediaObserver.isActive('xs')" class="ui-toolbar-group-left">
      <div class="menuToggle">
        <input type="checkbox" (click)="onToggleSidenav()" binary="true" />
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div
      *ngIf="userName$ | async as userName"
      [@headerFade]="mediaObserver.isActive('gt-xs')"
      fxLayout="row"
      fxLayoutAlign="end center"
      fxLayoutGap="0.5em"
      class="ui-toolbar-group-right account-menu"
      (click)="accountMenu.toggle($event)"
    >
      <a>{{ userName }}</a>
      <i class="pi pi-chevron-right" [@openClose]="accountMenuOpen"></i>
    </div>
  </p-toolbar>
  <span fxHide.xs class="sep"></span>
</div>

<p-menu #accountMenu [popup]="true" [model]="accountMenuItems" (onShow)="accountMenuOpen = true" (onHide)="accountMenuOpen = false">
</p-menu>
