@import 'styles-variables';
@import './assets/fonts/fonts.scss';

@import '~variables.scss';

// TODO: create mixins from primeng themes
.light-theme {
}

.dark-theme {
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.f-vertical {
  display: flex;
  flex-direction: column;
}

.f-horizontal {
  display: flex;
  flex-direction: row;
}

a {
  font-family: 'Roboto-Bold';
  color: $black !important;
}

a:hover {
  cursor: pointer;
  color: $light-grey !important;
}

a:visited {
  color: $dark-grey !important;
}

.background-light {
  background-color: $white;
}

.background-app {
  background-color: $white;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.w-100 {
  width: 100%;
}
