$black: #171717;
$white: #F5F4F3;
$light-grey: #a4a4a4;
$dark-grey: #494949;
$green: #85BB65;
$blue: #326699;
$dark-white: #E1E1E1;

$max-width: 767px;

:root {
  --sidebar-width: 250px;
  --header-height-small: 50px;
  --header-height-large: 86px;
}