.wrapper {
  scroll-snap-type: y proximity;
  overflow-y: auto;
}

.select-budget-wrapper {
  scroll-snap-align: start;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 20pt;
}

.budget-details {
  min-height: 0;
}